@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    background-image: url(img/fondo\ de\ registro.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff9e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.955);
    width: 400px;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 170%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 120%;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}


button.btn {
    margin-left: 30%;
    font-size: 120%;
    width: 40%;
    padding: 10px 20px;
    background-color: #ffbb00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}

button.btn:hover {
    background-color: #ada89c;
    transform: scale(1.05);
}

.register {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.register a {
    color: #ff0400;
    text-decoration: none;
}

.register a:hover{
    text-decoration:dotted
}
